
.dare-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: .45rem;
    box-shadow: 0 11px 32px rgb(31 119 166 / 40%);
}

.dare-card {
    display: flex;
    align-items: top;
    justify-content: center;
}
.card {
    position: relative;
}

.card:hover img {
    transform: scale(1);
    filter: brightness(50%);
}

/* .centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    font-family: spartan, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 20px 0px;
    text-align: center;
    color: darkslategrey;
    margin: auto;
} */

.centered {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: spartan, sans-serif;
    font-weight:700;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.card:hover .centered {
    display: block;
}