@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&family=Spartan:wght@100;200;300;400;500;600&display=swap');

form {
    padding: 30px;
    font-family: Spartan, sans-serif;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

form label {
    padding: 30px;
}

form input {
    padding: 10px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    color: black;
}

.logo {
    width: 200px;
    display: flex;
    justify-content: center;
}

