@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&family=Spartan:wght@100;200;300;400;500;600&display=swap');

form {
    font-family: Spartan, sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

form label {
    padding: 20px 0px 20px 0px;
}

.label {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 15px;
    font-size: 16px;
    font-family: spartan, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    color: black;
    text-align: center;
}

.logo {
    width: 200px;
    display: flex;
    justify-content: center;
}

.login-page {
    border-radius: 0.45rem;
    box-shadow: 0 11px 32px rgb(31 119 166 / 70%);
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
    margin: auto;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: #38F3FF;
    margin-bottom: 30px;
}

