@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&family=Spartan:wght@100;200;300;400;500;600&display=swap');

.header img{
    width: 300px;
}

.header h3{
    font-family: spartan, sans-serif;
    font-weight: 600;
    font-size: 1.25 rem;
    color: darkslategray;
    justify-content: center;
}

.header {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}