@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&family=Spartan:wght@100;200;300;400;500;600&display=swap');

/* * {
  border: 1px solid fuchsia;
} */

#dares-list {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  column-gap: 25px;
  row-gap: 25px;
}

body {
  height: 100%;
  max-width: 100%;
  margin:0;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.dare {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.dare h3 {
  text-transform: uppercase;
  text-align: left;
}

.dare-page {
  display: flex;
  flex-direction: column;
  background-color: #38F3FF;
  color: darkslategrey;
  text-align: center;
}
.dare-page a {
  padding: 20px;
  font-family: spartan, sans-serif;
  font-weight: 600;
  color: black;
}

.dare-page p {
  padding: 0px 40px 0px 40px;
}

/* .dare-page h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: spartan, sans-serif;
} */
.dare-page img {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://raw.githubusercontent.com/bel-lloyd/my-files/master/Untitled%20design%20(17).png"); */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  display: flex;
  /* margin: 0px -100px 0px -100px auto; */
}

h1 {
  color: black;
  font-family: spartan, sans-serif;
}

h2 {
  color: white;
  font-size: 20px;
  font-family: Spartan, sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: darkslategrey;
  font-size: 16px;
  text-align: center;
  font-family: spartan, sans-serif;
  font-weight: 500;
}

button {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  font-size: 1rem;
  font-family: spartan, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 5px 10px 5px;
  background-color: darkslategrey;
  color: white;  
  border-radius: .45rem;
  margin-top: 30px;
}