@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&family=Spartan:wght@100;200;300;400;500;600&display=swap');

#dares-list {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 15px;
  row-gap: 15px;
}

body {
  height: 100%;
  max-width: 100%;
  margin:0;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.dare-page a {
  padding: 20px;
  font-family: spartan, sans-serif;
  font-weight: 200;
}

.dare-page img {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://raw.githubusercontent.com/bel-lloyd/my-files/master/Untitled%20design%20(17).png"); */
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  display: flex;
  justify-content: left;
  /* margin: 0px -100px 0px -100px auto; */
  padding: 20px;
}

h1 {
  color: black;
  font-family: spartan, sans-serif;
}

h2 {
  color: white;
  font-size: 20px;
  font-family: Spartan, sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: darkslategrey;
  font-size: 16px;
  text-align: center;
  font-family: spartan, sans-serif;
  font-weight: 500;
}

button {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  font-size: 1rem;
  font-family: spartan, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 5px 10px 5px;
  background-color: darkslategrey;
  color: white;  
  border-radius: .45rem;
  margin-top: 20px;
}