@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&family=Spartan:wght@100;200;300;400;500;600&display=swap');

nav a {
    display: flex;
    flex-direction: row;
    font-family: spartan, sans-serif;
    font-weight: 600;
    color: darkslategrey;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 2px rgb(192, 230, 255);
    text-decoration: inherit;
      text-decoration-line: underline;
      text-decoration-thickness: 5px;
      text-decoration-style: solid;
      text-decoration-color: #38F3FF;

  }
  
  a:hover {
    color: black;
    transform: scale(1.1);
  }
  

nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}